

.footer {
    background-color: #000000;
    padding: 1rem;
    text-align: center;
    position: bottom;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ddd;
  }
  
  .footer p {
    margin: 0;
    color: #ffffff;
    font-size: 1rem;
  }
  